<%= form_for(
  one_pager,
  as: :one_pager,
  class: "p-10 card bg-base-200") do |form| %>

  <div class="form-control">
    <%= form.label :name do %>
      <span class="label-text">Name</span>
    <% end %>
    <%= form.text_field :name, class: "input" %>
  </div>

  <div class="divider"></div> 
  <%= form.submit class: "btn" %>
<% end %>
