<p>Displayed name: <%= link.name %></p>
<p>URL: <%= link.url %></p>

<%= button_to "Delete",
  one_pager_link_url(@one_pager.slug, link.id),
  method: :delete,
  class: "btn",
  remote: true %>

<div class="devider"></div>
<%= link_to "Edit", '#', class: "btn" %>

<div class="divider"></div> 
