<div class="mockup-phone" id="preview">
  <div class="camera"></div> 
  <div class="display">
    <div class="artboard artboard-demo phone-1">
      <%= content_tag(:iframe, "", src: one_pager_path(one_pager), class: "w-full h-full", id: "iframe_preview")%>
    </div>
  </div>
</div>
