<div class="flex flex-col justify-center min-h-screen py-12 bg-gray-100">
    <div class="container px-4 mx-auto">

        <section class="mb-10 text-center">
            <h1 class="mb-4 text-4xl font-bold text-blue-800">Obite.co</h1>
            <p class="text-xl text-gray-700">Craft Your Digital Identity & Keep It In Your Pocket. Literally.</p>
        </section>

        <section class="p-8 mb-10 bg-white rounded-md shadow-md">
            <h2 class="mb-6 text-2xl font-semibold text-center text-blue-800">Centralize Your Online Presence</h2>
            <p class="text-center text-gray-600">Every content creator, brand, and individual has a unique story. Why scatter it across the web? Bring it all together with Obite. From your latest blog post to your newest YouTube video, make it accessible from a single link.</p>
        </section>

        <section class="p-8 mb-10 bg-blue-200 rounded-md shadow-md">
            <h2 class="mb-6 text-2xl font-semibold text-center text-blue-800">Beyond The Browser - Direct to Wallet</h2>
            <p class="text-center text-gray-700">Why stop at browsers? With Obite, elevate your digital game. Transform your profile into a digital card and add it to Apple Wallet or Android. Your followers, friends, or customers will always have you just a tap away.</p>
        </section>

        <section class="p-8 mb-10 bg-white rounded-md shadow-md">
            <h2 class="mb-6 text-2xl font-semibold text-center text-blue-800">Features that Make a Difference:</h2>
            <ul class="text-gray-600 list-disc list-inside">
                <li class="mb-2">Simplicity at its Core - Easy setup, intuitive design, and a user-friendly experience.</li>
                <li class="mb-2">Direct-to-Wallet Cards - A unique feature that makes your profile truly portable.</li>
                <li class="mb-2">Customizable Profiles - Tailor-make your Obite page to reflect your brand and style.</li>
                <li class="mb-2">Analytics Insights - Know your audience. Track clicks, views, and more.</li>
                <li>Safe & Secure - Your data and your privacy, always protected.</li>
            </ul>
        </section>

        <section class="p-8 bg-blue-200 rounded-md shadow-md">
            <h2 class="mb-6 text-2xl font-semibold text-center text-blue-800">Join the Digital Revolution with Obite</h2>
            <p class="mb-6 text-center text-gray-700">Thousands have already made the switch. It's time to redefine how you connect with the world. Whether you're a content creator, a brand, or someone with a story to tell, Obite has got your back.</p>
            <div class="text-center">
                <%= link_to "Preview", one_pagers_path, class: "btn btn-primary" %>
            </div>
        </section>

        <footer class="mt-8 text-center text-gray-600">
            <p>👩‍💻 Need Help? Connect with our 24/7 support. We're here to assist!</p>
            <%= link_to "Send Email", "mailto:norbert@obite.co", class: "btn btn-primary" %>
        </footer>

    </div>
</div>
